	<sidebar>
		<div class="trigger">
			<i class="icon-menu"></i>
			<name>Atheos<small class="version_tag">v.1.0</small></name>
		</div>
		<header>
			<a id="logo" name="home" href="{{ base_url }}"><img alt="Atheos Logo" src="{{ assets_url }}/images/logo-new.png"></a>
			<name>Atheos<small class="version_tag">v.1.0</small></name>
			<tagline>Web Based, Cloud IDE</tagline>
		</header>

		<nav>
			<a title="home" href="{{ base_url }}"><i class="icon-home"></i>
				<span>Home</span>
			</a>
			<a title="download" href="https://github.com/Atheos/Atheos/releases" id="download-zip">
				<i class="icon-download"></i>
				<span>Download</span>
			</a>
			<a title="market" href="{{ base_url }}/market" id="plugins">
				<i class="icon-market"></i>
				<span>Market</span>
			</a>
			<a title="github" href="https://github.com/Atheos/Atheos" id="view-on-github">
				<i class="icon-github"></i>
				<span>Github</span>
			</a>
			<a title="documentation" href="{{ base_url }}/docs/" id="docs">
				<i class="icon-code"></i>
				<span>Documentation</span>
			</a>
		</nav>

	</sidebar>